body{
    min-height: 100vh;
    display: block;
    align-items: center;
    background:url(./../../../images/web.png) no-repeat fixed ;
    background-size: cover;
    background-position: center;
}